<md-dialog class="candidate-letter-modal web-preview-modal">
    <form name="dynWebForm" id="dynWebForm" novalidate style="height:92%">
        <md-toolbar>
            <div class="md-toolbar-tools popup-header" style="background-color:white;color:#555555;  padding-right: 20px;" layout="row" layout-align="space-between center" layout-padding layout-wrap flex>

                <span style="text-align:left;font-size:16px;">Documents :
                    {{record+1}}/{{stepData.stepdocumentids.length}}</span>
                <span style="text-align:center;" class="cust-heading">{{stepData.stepdocumentids[record].documentname}}</span>
                <!-- <md-button class="edit-button" ng-click="goToEditLetter($event,stepData,record)" style="padding: 0;min-width: auto;margin: 0;" ng-if="((stepData.stepdocumentids[record].settingId.indexOf(7) === -1) || (step.stepdocumentids[i].documentfilestatus == 1 || step.stepdocumentids[i].documentfilestatus == 3 || step.stepdocumentids[i].documentfilestatus == 4))">
                        <md-icon md-svg-icon="images/icons/edit_icon.svg" class="editBtnSvg" style="transform: scale(0.55);fill:rgba(0,0,0,0.54)"></md-icon>
                        </md-button> -->
                <md-button class="md-icon-button" aria-label="Cancel Upload" ng-click="closeModal()">
                    <ng-md-icon icon="clear" style="cursor:pointer;" size="14">
                    </ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-divider></md-divider>


        <md-content class="letter-body-start" ng-if="isWebForm && stepData.stepdocumentids[record].settingId.indexOf(15) == -1" layout-padding>

            <div class="dyn-webform-dropzone-area dyn-webform-dropzone-area-body" id="dropZone" layout="row" style="padding: 0 15px;">
                <div flex class="sortable-stdFields-body" id="sortable-formbuilder-ul">
                    <div ng-include="'/components/shared/controlsView.html'"></div>
                </div>
            </div>
        </md-content>
        <!-- <md-content class="letter-body-start" ng-if="isWebForm" layout-padding style="background-color: rgb(250,250,250);padding:20px;">
            

        </md-content> -->
        <md-content class="letter-body-start" ng-if="isDocument && stepData.stepdocumentids[record].settingId.indexOf(15) == -1" layout-padding style="background-color:#fff">
            <!-- <iframe src="https://secure.na1.echosign.com/public/apiesign?pid=CBFCIBAA3AAABLblqZhBdMXYGTh0pGLmQVkPaDRzaxBGTVOxfsgbD04nNieasOl99Sur4hKuvPXN7q1aLY2U*" frameborder="0"></iframe> -->
            <div id="results" style="padding:0"></div>
            <iframe ng-if="!(stepData.stepdocumentids[record].settingId.indexOf(7) !== -1 && stepData.stepdocumentids[record].documentfilestatus != 5) && !redirecturlSigned && !disableIframes" ng-class="{'maxhigh': (stepData.stepdocumentids[record].settingId == '' || stepData.stepdocumentids[record].settingId.indexOf(2) !== -1 || stepData.stepdocumentids[record].settingId.indexOf(3) !== -1),'high':(stepData.stepdocumentids[record].settingId.indexOf(7) !== -1 || stepData.stepdocumentids[record].settingId.indexOf(9) !== -1)}"
                ng-src="{{trustSrc(redirecturl)}}" frameborder="0" id="iframOffer"></iframe>
            <div ng-if="disableIframes" style="text-align:center;border:1px solid lightgray;margin-top:20px;">
                <img ng-src="{{adobeSignExpiredSession}}" style="width:75px;" />
                <span style="display: block;">Adobe Sign session has been expired. <a ng-click="openUploadEchoSign()" class="hyperlink">Click Here</a>
                    to login again.</span>
            </div>
            <div id="pdfviewerDiv" ng-if="redirecturlSigned" style="height:400px;overflow-x:hidden;overflow-y:auto;background:gray;" flex>
                <pdfviewer id="viewer" src="{{trustSrc(redirecturlSigned)}}"></pdfviewer>
            </div>
            <div id="pdfviewerDiv" ng-if="stepData.stepdocumentids[record].settingId.indexOf(7) !== -1 && stepData.stepdocumentids[record].documentfilestatus!=5" style="height:400px;overflow-x:hidden;overflow-y:auto;background:gray;" flex>
                <pdfviewer id="viewer" src="{{trustSrc(redirecturl)}}"></pdfviewer>
            </div>
            <!-- ng-if="stepData.stepdocumentids[record].settingId.indexOf(9) !== -1" -->
            <!-- || stepData.stepdocumentids[record].documentfilestatus == 4 || stepData.stepdocumentids[record].documentfilestatus == 3 -->
            <div layout="row" ng-show="stepData.stepdocumentids[record].settingId.indexOf(9) !== -1" style="width: 100%;">
                <!-- <form name="docuploadform" id="docuploadform" style="width: 100%;" ng-submit="!isFileEditMode? uploadDocuments() : updateDocument()"> -->
                    <div layout="row" layout-align="start center" layout-padding style="padding: 0 170px;">
                        <div class="small-file-drop-zone docUpload" id="file-drop-zone" ngf-drop ngf-select ng-model="file" ngf-multiple="true" style="margin: 20px;" flex ng-disabled="stepData.stepdocumentids[record].documentfilestatus==2">

                            <md-card class="upload-doc-card" ng-if="file && file.length" style="margin-top: 20px;" layout-wrap flex>
                                <div class="{{vm.workflowDocCardClass}}" layout="row" layout-align="space-between center" flex>
                                    <div layout="row" layout-align="start center">
                                        <md-icon md-svg-src="images/pdf.svg" style="transform:scale(.5);fill:#d75a5a">
                                        </md-icon>
                                        <p class="md-caption" style="white-space:nowrap;" md-truncate>{{ file[0].name }}
                                        </p>
                                    </div>
                                    <!-- this.parentElement.parentElement.remove() -->
                                    <ng-md-icon icon="clear" size="14" style="margin-top:12px;cursor:pointer" ng-click="removeFile($event);">
                                    </ng-md-icon>
                                </div>
                            </md-card>
                        </div>
                    </div>
                <!-- </form> -->

            </div>
            <!-- stepData.stepdocumentids[record].settingId.indexOf(9) !== -1 || stepData.stepdocumentids[record].documentfilestatus == 3 -->
            <div layout="row" style="clear:both;margin-top:10px" ng-if="attachedFilesList.length">
                <table class="tg" style="border: 1px solid #ccc;">
                    <thead>
                        <th class="tg-qmme" align="left" style="background-color: #ccc;">File Name</th>
                        <th class="tg-qmme" align="center" style="background-color: #ccc;"></th>
                        <th class="tg-qmme" style="background-color: #ccc;"></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attachfile in attachedFilesList">
                            <td class="tg-yw4l" align="left">{{attachfile.candidatedocname}}</td>
                            <td class="tg-yw4l" align="center"></td>
                            <td class="tg-yw4l" align="left" ng-if="stepData.stepdocumentids[record].documentfilestatus!=2">
                                <a href="{{CandidateDocsURL}}{{attachfile.candidatedocid}}.{{checkDocExtension(attachfile.candidatedocname)}}" target="_blank">
                                    <i class="fa fa-eye"></i>
                                </a> &nbsp;
                                <a href ng-click="showStepDeleteConfirm($event, attachfile.candidatedocid)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="!attachedFilesList.length">
                            <td class="tg-yw4l" align="center" colspan="3">No files added</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div layout="row" ng-if="stepData.stepdocumentids[record].settingId.indexOf(7) !== -1 && stepData.stepdocumentids[record].documentfilestatus!=5" style="margin-top: 30px;border: 1px solid lightgray;border-radius:4px;">
                <!-- <input type="checkbox" ng-model="accepted"><span> I have reviewed, and acknowledged the document above</span> -->
                <md-checkbox ng-model="isChecked" ng-click="toggleAcceptBtn()" style="margin-bottom: 2px;">
                    I have reviewed, and acknowledged the document above
                </md-checkbox>
            </div>

            <div class="hideadoblogo" style="position: absolute;top: 0;width:30%; height: 100px;"></div>
        </md-content>
        <md-content class="letter-body-start" layout-padding style="background-color:#fff" ng-show="stepData.stepdocumentids[record].settingId.indexOf(15) != -1">
            <div layout="row">
                <h3>You can Download PDF from Here 
                        <a target="_blank" href="{{DocsURL}}{{stepData.stepdocumentids[record].documentid}}.pdf" class="md-secondary download-doc"   title="Download document" style="position:relative;top:-3px;"><i class="fa fa-download" style="border: 1px solid #ba3535;border-radius: 50%;padding: 6px 7px 6px 7px;background-color: #ba3535;color: #fff;font-size:11px;"></i>&nbsp;&nbsp;</a>
                    </h3>
            </div>
            <div layout="row" ng-show="openType == 'upload'">
                <!-- <form name="docuploadform" id="docuploadform" style="width: 100%;" ng-submit="uploadDocumentsHand()"> -->
                    <div layout="row" layout-align="start center" layout-padding style="width:100%;">
                        <div class="small-file-drop-zone docUpload" id="file-drop-zone-hand" ngf-drop ngf-select ng-model="fileupload" ngf-multiple="true" ngf-pattern="'application/pdf,image/jpeg,image/png,image/jpg'" ngf-accept="'.pdf,.png,.jpg,.jpeg'" style="margin: 20px;overflow: hidden;"
                            flex  style="display:contents;">

                        </div>
                    </div>
                <!-- </form> -->

            </div>

            <span class="cust-heading" style="font-size: 15px;margin-top:10px">Attachments (Maximum file size should be
                    20MB)</span>
            <div layout="row" style="clear:both;margin-top:10px">
                <table class="tg" style="border: 0px solid #eaeaea;">
                    <thead>
                        <th class="tg-qmme" align="left" style="background-color: #eaeaea;">File Name</th>
                        <th class="tg-qmme" align="center" style="background-color: #eaeaea;">File Size</th>
                        <th class="tg-qmme" align="center" style="background-color: #eaeaea;"></th>
                        <th class="tg-qmme" style="background-color: #eaeaea;"></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attachfile in attachedFilesList">
                            <td class="tg-yw4l" align="left">{{attachfile.candidatedocname}}</td>
                            <td class="tg-yw4l" align="center">{{attachfile.filesize}} KB</td>
                            <td class="tg-yw4l" align="center"></td>
                            <td class="tg-yw4l" align="left" ng-if="stepData.stepdocumentids[record].documentfilestatus!=2">
                                <a href="{{CandidateDocsURL}}{{attachfile.candidatedocid}}.{{attachfile.candidatedocname.split('.')[attachfile.candidatedocname.split('.').length -1]}}" target="_blank">
                                    <i class="fa fa-eye" title="View"></i>
                                </a> &nbsp;
                                <a href ng-click="showStepDeleteConfirm($event, attachfile.candidatedocid)" ng-if="openType == 'upload'">
                                    <i class="fa fa-times" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="!attachedFilesList.length">
                            <td class="tg-yw4l" align="center" colspan="3">No files added</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
        <md-divider></md-divider>
        <footer class="edit-intro-footer">
            <div layout="row" style="padding-bottom:0">
                <div layout="row" layout-align="end center" flex>
                    <div>
                        <!-- disableNextBtns || stepData.stepdocumentids.length==1 || record==0 -->
                        <md-button class="md-primary md-raised" ng-click="disableSubmit=true; approveAcknowledge('completed')" ng-disabled="enableAccept" ng-show="stepData.stepdocumentids[record].settingId.indexOf(7) !== -1 && stepData.stepdocumentids[record].documentfilestatus!=5">Accept</md-button>
                        <!-- && stepData.stepdocumentids[record].documentfilestatus!=5 -->
                        <!-- stepData.stepdocumentids[record].settingId.indexOf(2) !== -1 ||  -->
                        <!-- || !attachedFilesList.length -->
                        <md-button class="md-primary md-raised" ng-click="goNext()" ng-disabled="disableSubmit" ng-if="(stepData.stepdocumentids[record].settingId.indexOf(15) == -1 && stepData.stepdocumentids[record].settingId.indexOf(9) !== -1 && isDocument)">Submit</md-button>
                        <md-button class="md-primary md-raised" ng-click="approveAcknowledge('completed');goNext()" ng-disabled="!attachedFilesList.length" ng-if="(stepData.stepdocumentids[record].settingId.indexOf(15) != -1)">Submit</md-button>
                        <!-- <md-button class="md-primary md-raised" type="submit" ng-if="isWebForm">Submit WF</md-button> -->
                        <md-button class="md-primary md-raised" ng-click="validateForm(dynWebForm.$valid)" ng-if="isWebForm" title="Submit Webform">Submit</md-button>
                        <!-- <md-button class="md-secondary md-button md-ink-ripple" ng-click="goNext()" ng-disabled="disableNextBtns || stepData.stepdocumentids.length==1 || (stepData.stepdocumentids.length - 1) == record" ng-if="stepData.stepdocumentids[record].settingId.indexOf(7) == -1">Submit</md-button> -->
                    </div>
                    <div>
                            <md-button class="md-secondary md-button md-ink-ripple" name="skip1" ng-click="goNext()" ng-disabled="disableNextBtns || stepData.stepdocumentids.length==1 || (stepData.stepdocumentids.length - 1) == record" ng-if="(stepData.stepdocumentids[record].settingId.indexOf(15) != -1)">Skip</md-button>
                        <md-button class="md-secondary md-button md-ink-ripple" name="skip1" ng-click="goNext()" ng-disabled="disableNextBtns || stepData.stepdocumentids.length==1 || (stepData.stepdocumentids.length - 1) == record" ng-if="(stepData.stepdocumentids.length - 1) !== record && (isWebForm && (stepData.stepdocumentids[record].settingId.indexOf(16) != -1))">Skip</md-button>
                        <md-button class="md-secondary md-button md-ink-ripple" name="skip2" ng-click="closeModal()" ng-if="(stepData.stepdocumentids.length - 1) == record && disableSubmit && (isWebForm && (stepData.stepdocumentids[record].settingId.indexOf(16) != -1))">Skip</md-button>
                        <md-button class="md-secondary md-raised md-ink-ripple" ng-click="closeModal()" ng-if="(stepData.stepdocumentids.length - 1) == record && !disableSubmit">Close</md-button>
                    </div>
                </div>
            </div>
            <!-- <div layout="row" layout-align="end center" flex>
            <md-button class="md-primary md-raised" ng-click="closeDeleteModal()">Close</md-button>
        </div> -->
        </footer>
    </form>
</md-dialog>
<div class="LoaderDiv" id="loader123" ng-show="loadingLoader">
    <div class="spinner">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>