<div flex layout="row" ng-style=" { 'height': vm.heightForCandidate}">
    <div flex="60" class="public-page-left-container" ng-style="{'background-image': 'url(' + bgImagesURL + ')'}" layout="row" layout-align="center center">
        <!-- <div flex="75" class="welcome-message-container" layout="column" layout-align="center center" layout-padding>
                <img ng-src="{{LogoImagesURL}}" style="width:100px;height:100px;" />
                <div flex align="center" style="width:80%">
                    <h3 class="welcome-message-header">{{get_msg_by_key('WELCOME')}}</h3>
                </div>
        </div> -->
    </div>
    <div flex="40" layout="row" class="public-page-right-container" layout-align="center center">
        <div flex="80" layout-align="center center">
            <form name="forgot_password_form" novalidate>
                <p class="public-page-header">Forgot Password</p>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email ID</label>
                    <input ng-model="vm.ForgotPassword.Email" 
                        type="email" 
                        name="email" 
                        required 
                        tabindex="1"
                        minlength="6" 
                        maxlength="250" 
                        ob-autofocus />
                    <div ng-messages="forgot_password_form.email.$error" role="alert">
                        <div ng-message="required">{{get_msg_by_key('MSG004')}}</div>
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'email']">
                            {{get_msg_by_key('MSG005')}}
                        </div>
                    </div>
                </md-input-container>
                <div flex layout="row" layout-sm="column" layout-wrap>
                    <md-button type="submit" 
                        class="md-raised md-primary large-width" 
                        tabindex="2"
                        ng-click="vm.forgotPwd()">Submit
                        <!-- ng-disabled="forgot_password_form.$invalid">Submit -->
                    </md-button>
                    <div class="div-half" layout="row" layout-align="end center">
                        <a ui-sref="login"
                            class="hyperlink" 
                            tabindex="3"
                            style="cursor:pointer;">Return to Sign in</a>
                    </div>
                </div>
                <!-- <div flex layout="row" layout-wrap ng-if="vm.ErrorMessage">
                    <h3 class="md-body-1" style="color:red">{{vm.ErrorMessage}}</h3>
                </div> -->
            </form>
        </div>
    </div>
    <div loader="" class="LoaderDiv" ng-show="loading">
        <div class="spinner">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>