$orange: #f1a94e;
$chkBoxFocus: #f8a944;
$deepOrange: #d75a5a;
$redOrange: #B22222;
$lightGrey: #f4f4f4;
$veryLightGrey: #fcfcfc;
$lightBlack: #555555;
$font: "Segoe UI";
$lightfont: "Segoe UI Light";
$btnHover: #ba3535;
$btnDisabled: #A1A6B0;
$navColor: #d85d5b;
$topMenuTxt: #1b2c3c;
$sideMenuTxt: #d4d4d4;
$inputLabel: #688081;;
$cyanColor: #44b3c2;
$inputDisabled: #dadada;
$hyperLinkColor: #2283bb;
$onboardingSideNav:#273748;
$font-default-color: #555;
$anchorDefaultColor: #0000ee;