<div flex layout="row" ng-cloak>
    <div flex="60" class="public-page-left-container" ng-style="{'background-image': 'url(' + bgImagesURL + ')'}" layout="row" layout-align="center center">
        <!-- <div flex="75" class="welcome-message-container" layout="column" layout-align="center center" layout-padding>
            <img ng-src="{{LogoImagesURL}}" style="width:100px;height:100px;" />
            <div flex align="center" style="width:80%">
                <h3 class="welcome-message-header">{{errorMsgs.WELCOME}}</h3>
            </div>
        </div> -->
    </div>
    <div flex="40" layout="row" class="public-page-right-container" layout-align="center center">
        <div flex="80" layout-align="center center">
            <form name="resetPwd_form" novalidate>
                <p class="public-page-header">Reset Password</p>
                <!-- TODO - Need to keep this field disabled; email should be passed to it after user
                clicks on the link sent to him -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="input-fields">Email Id</label>
                    <input  type="email"
                        ng-model="vm.emailId"
                        name="email"
                        minlength="10"
                        maxlength="250" 
                        ng-disabled="true" 
                        
                        required />
                    <div ng-messages="resetPwd_form.email.$error" role="alert">
                        <div ng-message="required">{{errorMsgs.MSG011}}</div>
                        <div ng-message-exp="['minlength', 'maxlength', 'email']">
                                {{errorMsgs.MSG012}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="input-fields">New Password</label>
                    <input type="password"
                        ng-model="vm.newPassword"
                        name="newPassword"
                        tabindex="1"
                        required
                         maxlength="20" md-maxlength="20"
                        ob-autofocus>
                    <div ng-if="(submitted && resetPwd_form.newPassword.$untouched) || resetPwd_form.newPassword.$touched" ng-messages="resetPwd_form.newPassword.$error" md-auto-hide="true">
                        <div ng-message-exp="['minlength', 'maxlength', 'password']">
                                {{errorMsgs.MSG016}}
                        </div>
                        <div ng-message="required">{{errorMsgs.MSG015}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="input-fields">Confirm Password</label>
                    <input type="password"
                        ng-model="vm.confirmPassword"
                        name="confirmPassword"
                        tabindex="2"
                        required
                        maxlength="20" md-maxlength="20"
                        ng-blur="vm.confirmPwdValidation(vm.newPassword, vm.confirmPassword)"
                        placeholder="Must match with the New Password above.">
                    <div ng-if="(submitted && resetPwd_form.confirmPassword.$untouched) || resetPwd_form.confirmPassword.$touched" ng-messages="resetPwd_form.confirmPassword.$error" md-auto-hide="true">
                        <div ng-message-exp="['minlength', 'maxlength', 'password']">
                                {{errorMsgs.MSG018}}
                        </div>
                        <div ng-message="required">{{errorMsgs.MSG017}}</div>
                    </div>
                </md-input-container>
                <div flex layout="row" layout-sm="column" layout-wrap>
                    <md-button type="submit"
                        class="md-raised md-primary large-width"
                        tabindex="3"
                        ng-click="vm.resetPassword()">Submit
                        <!-- ng-disabled="resetPwd_form.$invalid || vm.newPassword != vm.confirmPassword" -->
                    </md-button>
                    <!-- <div class="div-half" layout="row" layout-align="end center" layout-padding>
                        <a ui-sref="ForgotPassword" class="forgot-password-link" tabindex="4">Return to Login</a>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div loader="" class="LoaderDiv" ng-show="loading">
        <div class="spinner">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>
